html {
    height: 100%;
}

body {
    background-color: #eee;
}

.site, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    overflow-y: unset;
}

footer {
    margin-top: auto;
}